
<h2>Course packs & Text Books</h2>
<ul>
	<li><%= link_to "Buy", books_url%></li>
	<!-- <li><a href="<%= books_url%>">Buy</a></li> -->
	<li><%= link_to "Sell", new_book_url%></li>
	<!-- <li><a href="<%= new_book_url%>">Sell</a></li> -->
	</ul>

<h2>Events</h2>

<h2>Furniture</h2>

<h2>Apartments</h2>
<ul>
	<li><%= link_to "Find Room", apartments_url%></li>
	<li><%= link_to "Post Room", new_apartment_url%></li>
	</ul>

<h2>Others</h2>