<%= form_for @book do |form|%>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2 style = "color: red">
        <%= pluralize(@book.errors.count, "error") %> found!</h2>

      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


	<%= form.label :number, "Course Number:"%>
	<%= form.text_field :number, :placeholder => "ex. 33001"%><br/>
	<%= form.label :title, "Course Title:"%>
	<%= form.text_field :title, :placeholder => "ex. Microeconomics"%><br/>
	<%= form.label :faculty_last, "Faculty Last Name:"%>
	<%= form.text_field :faculty_last, :placeholder => "ex. Smith"%><br/>
	<%= form.label :faculty_first, "Faculty First Name:"%>
	<%= form.text_field :faculty_first, :placeholder => "ex. Adam"%><br/>
	<%= form.label :price, "Price: $ "%>
	<%= form.number_field :price, :placeholder => "ex. 40"%><br/>
	<%= form.submit "Add to List"%> or <%= link_to 'Cancel', :back %>

<%end%>