<h1>Edit Offer</h1>

<%= link_to "<- Back", books_url%>

<%= render "form"%>

<!-- <%= form_for @book do |form|%>
	<%= form.label :number, "Course Number:"%>
	<%= form.text_field :number%><br/>
	<%= form.label :title, "Course Title:"%>
	<%= form.text_field :title%><br/>
	<%= form.label :faculty_last, "Faculty Last Name:"%>
	<%= form.text_field :faculty_last%><br/>
	<%= form.label :faculty_first, "Faculty First Name:"%>
	<%= form.text_field :faculty_first%><br/>
	<%= form.label :price, "Price: $ "%>
	<%= form.text_field :price%><br/>
	<%= form.submit "Update Offer"%>

<%end%> -->


<!-- <%#= form_tag book_url(@book.id), :method => :put do %>
    
    <%#= label_tag "Number:" %> 
    <%#= text_field_tag :number, @book.number %>
	<%#= label_tag "Title:" %> 
    <%#= text_field_tag :title, @book.title %>
	<%#= label_tag "Faculty Last :" %>
    <%#= text_field_tag :faculty_last , @book.faculty_last%>
    <%#= label_tag "First :" %>
    <%#= text_field_tag :faculty_first, @book.faculty_first  %>
    <%#= label_tag "Price:"%>
    <%#= text_field_tag :price, @book.price %>
    
    <%#= submit_tag "Update Offer" %>
    <%# end %> -->

